body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f0f0;
}

.oswald-font {
    font-family: 'Oswald', sans-serif;
    text-align: center;
    font-size: 36px;
    margin: 20px 0;
}

.montserrat-font {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    text-align: justify;
    margin: 20px;
}

img {
    max-width: 100%;
}
